.App {
    font-family: sans-serif;
    text-align: center;
  }
  .imgB {
    width: 100%;
    height: 800px;
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
    overflow: scroll;
    /* display: none; */
  }
  
  .imgA {
    /* border: 1px solid red; */
    color: red;
    display: none;
  }
  